<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.safariextensionosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Safari application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.safariExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>Cocoa</string>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SafariExtensionHandler.h</string>
                        <string>SafariExtensionHandler.m</string>
                        <string>SafariExtensionViewController.h</string>
                        <string>SafariExtensionViewController.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SafariExtensionHandler.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionHandler.h</string>
                        </dict>
                        <key>SafariExtensionHandler.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionHandler.m</string>
                        </dict>
                        <key>SafariExtensionViewController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionViewController.h</string>
                        </dict>
                        <key>SafariExtensionViewController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionViewController.m</string>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>SafariExtensionHandler.swift</string>
                        <string>SafariExtensionViewController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>SafariExtensionHandler.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionHandler.swift</string>
                        </dict>
                        <key>SafariExtensionViewController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>SafariExtensionViewController.swift</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Base.lproj/SafariExtensionViewController.xib</string>
        <string>Info.plist:NSExtension</string>
        <string>script.js</string>
        <string>ToolbarItemIcon.pdf</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Base.lproj/SafariExtensionViewController.xib</key>
        <dict>
            <key>Path</key>
            <string>SafariExtensionViewController.xib</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.Safari.extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___SafariExtensionHandler</string>
    <key>SFSafariWebsiteAccess</key>
    <dict>
        <key>Allowed Domains</key>
        <array>
            <string>*.webkit.org</string>
        </array>
        <key>Level</key>
        <string>Some</string>
    </dict>
    <key>SFSafariContentScript</key>
    <array>
        <dict>
            <key>Script</key>
            <string>script.js</string>
        </dict>
    </array>
    <key>SFSafariToolbarItem</key>
    <dict>
        <key>Action</key>
        <string>Command</string>
        <key>Image</key>
        <string>ToolbarItemIcon.pdf</string>
        <key>Label</key>
        <string>Your Button</string>
        <key>Identifier</key>
        <string>Button</string>
    </dict>
</dict>
<key>NSHumanReadableDescription</key>
<string>This is a Safari Extension. You should tell us what your extension does here.</string>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
        <key>script.js</key>
        <dict>
            <key>Path</key>
            <string>script.js</string>
            <key>SortOrder</key>
            <integer>998</integer>
        </dict>
        <key>ToolbarItemIcon.pdf</key>
        <dict>
            <key>Path</key>
            <string>ToolbarItemIcon.pdf</string>
            <key>SortOrder</key>
            <integer>999</integer>
       </dict>
    </dict>
</dict>
</plist>
