<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.todayosx</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.osxAppExtensionBase</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template builds a Today application extension.</string>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.todayExtension</string>
            <key>SharedSettings</key>
            <dict>
                <key>COMBINE_HIDPI_IMAGES</key>
                <string>YES</string>
                <key>CODE_SIGN_ENTITLEMENTS</key>
                <string>___PACKAGENAME___/___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            </dict>
            <key>Frameworks</key>
            <array>
                <string>NotificationCenter</string>
            </array>
        </dict>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>listBasedInterface</string>
            <key>NotPersisted</key>
            <true/>
            <key>Name</key>
            <string>User Interface:</string>
            <key>Description</key>
            <string>With the Widget List View option the extension&apos;s primary view controller will use a NCWidgetListViewController. With Custom it will be an empty view suitable for custom content.</string>
            <key>Type</key>
            <string>popup</string>
            <key>Values</key>
            <array>
                <string>Widget List View</string>
                <string>Custom</string>
            </array>
            <key>Default</key>
            <string>Custom</string>
            <key>Units</key>
            <dict>
                <key>Custom</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>TodayViewController.h</string>
                            <string>TodayViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>TodayViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>TodayViewController.h</string>
                            </dict>
                            <key>TodayViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>TodayViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>TodayViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>TodayViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>TodayViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Base.lproj/TodayViewController.xib</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Base.lproj/TodayViewController.xib</key>
                            <dict>
                                <key>Path</key>
                                <string>TodayViewController.xib</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
                <key>Widget List View</key>
                <array>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>TodayViewController.h</string>
                            <string>TodayViewController.m</string>
                            <string>ListRowViewController.h</string>
                            <string>ListRowViewController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>TodayViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>TodayViewController.h</string>
                            </dict>
                            <key>TodayViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>ListBased_TodayViewController.m</string>
                            </dict>
                            <key>ListRowViewController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>ListRowViewController.h</string>
                            </dict>
                            <key>ListRowViewController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>ListRowViewController.m</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>TodayViewController.swift</string>
                            <string>ListRowViewController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>TodayViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ListBased_TodayViewController.swift</string>
                            </dict>
                            <key>ListRowViewController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ListRowViewController.swift</string>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>Base.lproj/TodayViewController.xib</string>
                            <string>Base.lproj/ListRowViewController.xib</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Base.lproj/TodayViewController.xib</key>
                            <dict>
                                <key>Path</key>
                                <string>ListBased_TodayViewController.xib</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                            <key>Base.lproj/ListRowViewController.xib</key>
                            <dict>
                                <key>Path</key>
                                <string>ListRowViewController.xib</string>
                                <key>SortOrder</key>
                                <integer>99</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:NSExtension</string>
        <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
        <string>en.lproj/InfoPlist.strings:NameAndDescription</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:NSExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPrincipalClass</key>
    <string>___VARIABLE_moduleNamePrefixForClasses:XML___TodayViewController</string>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.widget-extension</string>
    <key>com.apple.notificationcenter.widget.description</key>
    <string>___PACKAGENAME___</string>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>NSExtensionPointVersion</key>
        <string>3.0</string>
    </dict>
</dict>
]]></string>
        <key>___PACKAGENAMEASIDENTIFIER___.entitlements</key>
        <dict>
            <key>Path</key>
            <string>___PACKAGENAMEASIDENTIFIER___.entitlements</string>
            <key>SortOrder</key>
            <integer>1000</integer>
            <key>TargetIdentifiers</key>
            <array/>
        </dict>
        <key>en.lproj/InfoPlist.strings</key>
        <dict>
            <key>SortOrder</key>
            <integer>201</integer>
        </dict>
        <key>en.lproj/InfoPlist.strings:NameAndDescription</key>
        <string><![CDATA[/* Display name and description for this extension. */
"CFBundleDisplayName" = "___PACKAGENAME___";
"com.apple.notificationcenter.widget.description" = "Sample description";
]]></string>
    </dict>
</dict>
</plist>
